footer {
    height: fit-content;
    padding: .5rem;
    box-sizing: border-box;
    
    display: grid;
    place-content: center;
    text-align: center;
    line-height: 2rem;
    color: var(--color-blanco);
}