.formulario {
    display: grid;
    gap: .3rem;
}

.campo {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: thin solid gray;
    box-sizing: border-box;
    font-family: var(--fuente-subtitulo);
    font-size: 15px;
    color: var(--color-fuente-principal);
}

.campo:focus {
    outline-color: var(--color-rosa);
}

.campo::placeholder {
    font-family: var(--fuente-contenido);
    color: rgb(173, 171, 171);
}

.requerido {
    background-image: url("../img/star-of-life.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position-x: 99%;
    background-position-y: 5%;
}

.alerta {
    color: var(--color-rosa);
    font-size: small;
    visibility: hidden;
}

.formulario__botones-contenedor {
    display: grid;
    grid-template-columns: calc(50% - .25rem) calc(50% - .25rem);
    gap: .5rem;
    box-sizing: border-box;
}

.formulario .boton-interior-blanco {
    padding: .5rem;
    box-sizing: border-box;
    color: var(--color-rosa);
}

.boton-registrar {
    height: 3rem;
}

.formulario__fieldset {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.redondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3.5rem;
}

.icono {
    filter: var(--filter-blanco);
    height: 80%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}