form {
    display: grid;
    gap: .5rem;
}

#formulario-redes-editar input[type=submit] {
    cursor: pointer;
    padding: 0;
    border: thin solid var(--color-verde);
    background: var(--color-blanco);
    font: var(--fuente-contenido);
}

#formulario-redes-editar a {
    border: thin solid red;
}

#formulario-redes-editar a:hover {
    background-color: red;
    color: var(--color-blanco);
}

#formulario-redes-editar input[type=submit]:hover {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

.formulario__encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem 0;
    gap: 1rem;

    border-bottom: 3px solid var(--color-naranja);
}

.campo {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
    border: thin solid gray;
    box-sizing: border-box;
    font-family: var(--fuente-subtitulo);
    font-size: 15px;
    color: var(--color-fuente-principal);
}

.campo:focus {
    outline-color: var(--color-rosa);
}

.campo::placeholder {
    font-family: var(--fuente-contenido);
    color: rgb(173, 171, 171);
}

.sin-borde {
    border: none;
}

/* Agrega un asterisco en la esquina superior derecha de un campo requerido */
.requerido { 
    background-image: url("../img/star-of-life.svg");
    background-repeat: no-repeat;
    background-size: 8px;
    background-position-x: 99%;
    background-position-y: 5%;
}

.alerta {
    display: flex;
    padding: 5px;
    text-align: justify;
    color: var(--color-rosa);
    visibility: hidden;
}

.alerta-roja {
    color: var(--color-blanco);
    background: var(--color-rosa);
    font-size: x-large;
    padding: 1rem;
}

.alerta-verde {
    color: var(--color-blanco);
    background: var(--color-verde-claro);
    font-size: x-large;
    padding: 1rem;
}

.oculto {
    visibility: hidden;
}

.no-focus {
    border: none;
}

.no-focus:focus {
    outline: none;
}

.formulario__botones-contenedor {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-sizing: border-box;
}

.formulario .boton-interior-blanco {
    padding: .5rem;
    box-sizing: border-box;
    color: var(--color-rosa);
}

.formulario__fieldset {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.formulario__fieldset-2-columnas {
    display: grid;
    align-items: center;
    grid-template-columns: 40% calc(60% - 0.5rem);
    gap: .5rem;
}

.una-dos-tres-columnas {
    display: grid;
    align-items: center;
    gap: .5rem;
}

.formulario__fieldset-categorias {
    display: grid;
    align-items: center;
    grid-template-columns: calc(100% - 3rem) 3rem;
    gap: .5rem;
}

.fieldset__envoltura {
    border: 1px solid var(--color-fuente-principal);
    padding: 1rem;
    border-radius: 5px;
    gap: .5rem;
}

/* Estilo para las formularios pequeños */
.mini {
    max-width: 500px;
}

/* Estilo de botón */
.redondo { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

/********* Botón enviar del formulario **************************/
.boton-registrar {
    height: 3rem;
}

.formulario__icono {
    height: 2rem;
    filter: var(--filter-rosa);
}

.icono {
    filter: var(--filter-blanco);
    height: 80%;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#barra-busqueda input, #barra-busqueda-producto input {
    border-color: var(--color-naranja);
    padding: 5px;
    border-radius: 0px;
}

#barra-busqueda button, #barra-busqueda-producto button {
    border-radius: 5px;
    background: var(--color-naranja);
    transition: .4s;
    border-radius: 0px;
    height: 100%;
    width: fit-content;
}

#barra-busqueda img, #barra-busqueda-producto img {
    height: 100%;
    filter: var(--filter-blanco);
}

@media screen and (min-width: 600px) {
    .formulario {
        grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
        gap: 2rem;
    }

    .formulario__encabezado {
        flex-direction: row;
    }

    .formulario__botones-contenedor {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .una-dos-tres-columnas {
        grid-template-columns: calc(50% - .25rem) calc(50% - .25rem);
    }
}

@media screen and (min-width: 1024px) {
    .dos-botones {
        grid-template-columns: calc(50% - .25rem) calc(50% - .25rem);
    }

    .una-dos-tres-columnas {
        grid-template-columns: calc(33% - .16rem) calc(33% - .16rem) calc(33% - .16rem);
    }
}