/* Variables */
:root {
    --fuente-titulo: 'Concert One';
    --fuente-subtitulo: 'Overpass';
    --fuente-contenido: 'Signika Negative';
    --color-fuente-principal: rgb(100, 100, 100);
    --color-blanco: #fff;
    /*--degradado-principal: linear-gradient(180deg, rgba(255,120,153,1) 15%, rgba(252,208,163,1) 200%);*/
    --degradado-principal: linear-gradient(180deg, rgba(250,89,130,1) 15%, rgba(252,208,163,1) 200%);
    --degradado-secundario: linear-gradient(180deg, rgba(246,160,231,1) 0%, rgba(250,118,140,1) 200%);
    --color-crema-alternativo: #fd9e9d;
    /*--color-rosa: #fc5c84;*/
    --color-rosa: #fa5982;
    --color-rosa-claro: #f89bb4;
    --color-rosa-oscuro: #c23357;
    --color-crema: #f8ebde;
    --color-naranja: #f3bb71;
    --color-cielo: #7bedee;
    --color-verde: #7ad101;
    --color-verde-claro: #89e903;
    --color-rojo: rgb(253, 46, 46);
    --color-rojo-claro: rgb(197, 55, 55);
    --filter-rosa: invert(71%) sepia(24%) saturate(4560%) hue-rotate(302deg) brightness(102%) contrast(101%);
    --filter-crema: invert(94%) sepia(69%) saturate(721%) hue-rotate(304deg) brightness(99%) contrast(101%);
    --filter-blanco: invert(88%) sepia(73%) saturate(15%) hue-rotate(210deg) brightness(100%) contrast(105%);
}

html {
    scroll-behavior: smooth;
    font-family: var(--fuente-contenido);
    background: var(--degradado-principal);

}

