/* Variables */
:root {
    --fuente-principal: 'Montserrat';
    --fuente-kalam: 'Kalam';
    --fuente-opensans: 'Open Sans';
    --color-fuente: #A555EC;
    --color-menu-oscuro: #35284c;
    --color-menu-medio: #3b315d;
    --color-menu-claro: #473a6e;
    --color-sombra: #f5ebfd;
    --color-sombra-oscuro: #e7d5f7;
    --color-gris: gray;
    --filter-blanco: invert(98%) sepia(0%) saturate(6%) hue-rotate(163deg) brightness(103%) contrast(101%);
    --filter-oscuro: invert(16%) sepia(59%) saturate(521%) hue-rotate(220deg) brightness(87%) contrast(94%);
}

html {
    font-family: var(--fuente-principal);
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
    display: grid;
    place-content: center;
    z-index: 1;

}