/*
 * Esta hoja de estilos define el diseño básico de cada página de contenido en el sitio.
 * Cada main-x estará incluido en cada página y se adjuntará un nombrePagina-x para incorporar los estilos nuevos y personalizados a cada una.
 * El principal elemento a editar es la distribución tipo grid.
 */

main {
    min-height: calc(100vh - 100px);
    margin-top: -20px;
}

.main-contenedor {
    padding: 1.5rem 1rem 1rem 1rem;
    background: var(--color-blanco);
    color: var(--color-fuente-principal);
    min-height: calc(100vh - 100px);
    box-sizing: border-box;
}

.main-contenedor h2 {
    font-size: x-large;
    font-weight: bold;
}

/*.main-menu {
    max-height: 0;
    overflow: hidden;
}*/

.abrir__main-menu {
    max-height: fit-content;
}

.main-menu__opcion {
    padding: 0.4rem;
}

#subcontenedor {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

hr {
    border: 3px solid var(--color-rosa);
    margin-top: 2rem;
}

.texto-rosa {
    color: var(--color-rosa);
}

.texto-verde {
    color: var(--color-verde);
}

.texto-centrado {
    text-align: center;
}

.destacado {
    font-size: 20px;
}

.destacado-mas {
    font-size: 28px;
}

.mayusculas {
    text-transform: uppercase;
}

.resaltado {
    font-weight: bold;
}

.banner {
    width: 100%;
    max-width: 400px;
}

.miniatura {
    width: 100px;
    margin: 0 auto;
}

.contenido-centrado {
    display: grid;
    place-content: center;
}

.lista-ordenada {
    list-style: decimal;
    padding-left: 1rem;
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    main {
        display: grid;
        grid-template-columns: 11rem calc(100% - 11rem);
    }

    .main-menu {
        display: grid;
        grid-template-columns: 50% 50%;
        height: min-content;
    }
}

@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 13rem calc(100% - 13rem);
    }

    .main-menu {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        height: min-content;
    }
}