/*
.menu-lista {
    display: flex;
    padding: .5rem;
    gap: .3rem;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-sombra);
}

.menu__opciones {
    width: calc(50% - 0.3rem);
}

.menu__opciones-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
    padding: .5rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    cursor: pointer;
}

.icono-menu {
    filter: var(--filter-oscuro);
    height: 3rem;
    margin-bottom: .5rem;
}
*/
.menu-contenedor {
    position: absolute;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--color-menu-claro);
    z-index: 2;
}

/* Clase para los botones de control 
 * Mantiene un tamaño mínimo y un efecto de transición al abrirse o cerrarse el menú */

.menu__opciones-url {
    display: block;
    padding: 1rem 1rem 1rem .35rem;
    color: white;
    font-weight: 300;
    white-space: nowrap;
    letter-spacing: .15rem;
    border-left: 0.15rem solid transparent;
    transition: 0.15s ease;
}

.menu__opciones-url:hover {
    border-left: 0.15rem solid;
    background: var(--color-menu-medio);
}

.icono-menu {
    filter: var(--filter-blanco);
    height: 1rem;
    margin-right: 1rem;
}


@media screen and (max-width: 1023px) {
    .menu-contenedor {
        position: absolute;
        box-sizing: border-box;
        min-height: 100vh;
        background-color: var(--color-menu-claro);
        z-index: 2;
    }
    
    /* Clase para los botones de control 
     * Mantiene un tamaño mínimo y un efecto de transición al abrirse o cerrarse el menú */
    .menu-control {
        width: 2rem;
        height: 2rem;
        transition: 0.5s ease-in-out 0s;
    }
    
    .flecha {
        display: block;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-position-x: 100%;
        filter: var(--filter-blanco);
    }
    
    .izq {
        background-image: url('../img/arrow-left.svg');
    }
    
    .der {
        background-image: url('../img/arrow-right.svg');
    }
    
    /* Clase para la lista con las opciones del menú (ul)
     * En un principio tiene un tamaño de 3rem
     * Oculta su contenido si este sobrepasa su tamaño colapsando así el menú
     * Tiene un efecto de transición al abrirse o cerrarse */
    .menu-lista {
        width: 2rem;
        overflow: hidden;
        transition: width 0.5s ease-in-out 0s, background-color 0.9s ease 0s;
    }
    
    /* Al dirigir el ancla (target) al menú aumenta su ancho desplegándolo */
    #menu:target .menu-lista, #menu:target .menu-control {
        width: 250px;
    }
    
    /* Oculta al inicio el botón para colapsar el menú */
    .colapsar {
        display: none;
    }
    
    /* Cuando se dirige el ancla al menú, el botón para desplegar se oculta */
    #menu:target .desplegar {
        display: none;
    }
    
    /* Cuando se dirige el ancla al menú, el botón para colapsar se muestra */
    #menu:target .colapsar {
        display: block;
    }
    
    .menu__opciones-url {
        display: block;
        padding: 1rem 1rem 1rem .35rem;
        color: white;
        font-weight: 300;
        white-space: nowrap;
        letter-spacing: .15rem;
        border-left: 0.15rem solid transparent;
        transition: 0.15s ease;
    }
    
    .menu__opciones-url:hover {
        border-left: 0.15rem solid;
        background: var(--color-menu-medio);
    }
    
    .icono-menu {
        filter: var(--filter-blanco);
        height: 1rem;
        margin-right: 1rem;
    }
}