.menu-contenedor {
    display: flex;
    position: absolute;
    top: 100px;
    z-index: 4; /* Este atributo pone al menú por debajo de la cabecera */

    width: 100vw;   
    background: var(--degradado-principal);
    transition: max-height .6s;

    max-height: 0;
    overflow: hidden;
}

.menu-lista {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.menu__opciones:hover {
    background-color: var(--color-rosa-oscuro);
}

.menu__opciones-url {
    height: 3.5rem;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 50%;
    place-content: center;
    align-items: center;

    font-family: var(--fuente-contenido);
    font-size: large;
    color: var(--color-blanco);
    text-transform: uppercase;
    transition: 1s;
}

.menu__opciones-url img {
    filter: var(--filter-blanco);
}

.icono-menu {
    width: 1.5rem;
}

.abrir-menu {
    max-height: 700px;
}

#btn-abrir-menu {
    position: absolute;
    top: 0;
    filter: var(--filter-blanco);
    z-index: 7; /* Este atributo pone el botón de abrir del menú por encima de la cabecera */
}

/****************************************/
/* Estilos para el submenú desplegable */
ul.menu-secundario {
    display: none;
    background-color: var(--color-rosa);
}

/* Despliegue del submenu con hover */
ul.menu-principal li:hover ul.menu-secundario {
    display: block;
    text-align: center;
    background-color: var(--color-rosa-oscuro);
}

ul.menu-secundario li {
    display: block;
}

ul.menu-secundario li a {
    color: white;
    width: 100%;
    height: 2rem;

    display: inline-block;
}

.menu-secundario__opciones  {
    width: 100%;
    padding: .3rem;
    font-family: var(--fuente-contenido);
    font-size: large;
}


@media screen and (min-width: 720px) {
    .menu-contenedor {
        position: relative;
        justify-content: end;
        top: 0;
        z-index: 7;
    
        width: 100%;   
        border-radius: 0;
        background: none;
        transition: none;
    
        min-height: calc(100vh - 120px);
        height: fit-content;
        overflow: visible;
    }

    .menu-lista {
        display: block;
        padding: 0;
    }
    
    .menu__opciones:first-child {
        margin-top: 0;
    }
    
    .menu__opciones-url {
        display: flex;
        place-content: initial;
        gap: 0.5rem;
        width: 100%;
        height: 3rem;
        box-sizing: border-box;
        padding: 0 1rem 0 0;
    }
    
    #btn-abrir-menu {
        display: none;
        z-index: none;
    }

    ul.menu-principal li:hover ul.menu-secundario {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    .menu__opciones-url {
        padding: 0 2rem 0 0;
    }
}