.menu-contenedor {
    position: absolute;
    width: 100vw;
    z-index: 5;
}

.menu {
    display: flex;
    flex-direction: column-reverse;
}

.menu-control {
    display: grid;
    place-content: center;
    background-color: var(--color-menu-medio);
    border-radius: 0 0 50% 50%;
}

.colapsar, .desplegar {
    width: 100vw;
    text-align: center;
}

.flecha {
    height: 1.5rem;
    filter: var(--filter-blanco);
}

/* Clase para la lista con las opciones del menú (ul)
 * Oculta su contenido si este sobrepasa su tamaño colapsando así el menú
 * Tiene un efecto de transición al abrirse o cerrarse */
.menu-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--color-menu-medio);
    
    width: 100%;
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out 0s;
}

/* Al dirigir el ancla (tag) al menú aumenta su altura desplegándolo */
#menu:target .menu-lista {
    max-height: 500px;
    display: flex;
}

/* Oculta al inicio el botón para colapsar el menú */
.colapsar {
    display: none;
}

/* Cuando se dirige el ancla al menú, el botón para desplegar se oculta */
#menu:target .desplegar {
    display: none;
}

/* Cuando se dirige el ancla al menú, el botón para colapsar se muestra */
#menu:target .colapsar {
    display: block;
}

.menu__opciones {
    width: 50%;
    padding: .3rem;
    box-sizing: border-box;
}

.menu__opciones-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: .3rem;
    text-align: center;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--color-menu-claro);
    cursor: pointer;
    color: white;
}

.icono-menu {
    filter: var(--filter-blanco);
    height: 2.5rem;
    margin-bottom: .5rem;
}




@media screen and (min-width: 426px) and (max-width: 768px) {
    .menu__opciones {
        width: 33%;
    }

    .menu-lista {
        justify-content: center;
    }
}



@media screen and (min-width: 769px) {
    .menu-contenedor {
        position: relative;
        float: left;
        min-width: 240px;
        max-width: 15vw;
        height: 100vh;
        background-color: var(--color-menu-medio);
    }

    .menu-lista {
        max-height: none;
        min-height: fit-content;
        overflow: visible;
        transition: none;
    }

    .menu__opciones-url {
        height: 5rem;
        padding: 1rem;
    }

    .menu__opciones-url:hover {
        background-color: var(--color-menu-oscuro);
    }

    .colapsar, .desplegar, .flecha, .menu-control{
        display: none;
    }
}