.modal {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #111111bd;
    z-index: 10; /* Este valor lo posiciona sobre cualquier elemento del sitio */

    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.modal__contenedor {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    gap: .5rem;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
    background: var(--color-blanco);
    box-sizing: border-box;
}

.modal__icono {
    height: 2rem;
    filter: var(--filter-rosa);
}

/* Clase para desplegarla o cerrarla */
.mostrar-modal {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}

@media screen and (min-width: 720px){
    
}