.tabla-contenedor {
    width: 100%;
    overflow-x: auto;
}

.tabla {
    background: var(--color-blanco);
}

.tabla thead{
    border-top: 5px solid var(--color-verde);
    background: var(--color-blanco);
    font-weight: bold;
}

.tabla th, .tabla td {
    border: 1px solid var(--color-fuente-principal);
    padding: 5px;
    min-width: fit-content;
}

.tabla img {
    height: 1.5rem;
}